* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 35px;
  min-height: 100vh;
  background-color: #d9d9d9;
  padding: 40px;
}

.orders,
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.ordersWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  position: relative;
  padding: 0 20px;
  background-color: #f0f0f0;
}

.orderStatus {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  border-radius: 0 5px 0 5px;
  z-index: 10;
}

.orderStatusGreen {
  background-color: #4caf50;
  color: #fff;
}

.orderStatusYellow {
  background-color: #ffc967;
  color: #000;
}

.orderNumber {
  font-size: 32px;
  font-weight: 600;
  margin-right: 10px;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid #000;
  padding: 10px 20px;
}

.orderFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

.orderPrice {
  font-size: 24px;
  font-weight: 600;
}

.orderPrice span {
  font-size: 16px;
  font-weight: 400;
}

.orderItems {
  font-size: 14px;
  font-weight: 400;
}

.searchBar {
  width: 100%;
}

.searchBar input {
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000;
}

.orderTab {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tab {
  background-color: #fff;
  color: #000;
  border: 1px solid #2e00d3;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.activeTab {
  background-color: #2e00d3;
  color: #fff;
}

.orderCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.orderCard {
  background-color: #d9d9d9;
  padding: 10px 8px;
  border-radius: 5px;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderCardImage {
  width: 100%;
  border-radius: 5px;
}

.orderCardName {
  font-size: 18px;
  font-weight: 600;
}

.orderCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.orderBtn {
  background-color: #fff;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}
